Support all String `format` keys

- [ ] `date-time`, eg: `2018-11-13T20:20:39+00:00`
- [ ] `time`, eg: `20:20:39+00:00`
- [ ] `email`, eg: [RFC 5322, section 3.4.1](http://tools.ietf.org/html/rfc5322#section-3.4.1)
- [ ] `idn-email"` [RFC 6531](https://tools.ietf.org/html/rfc6531)
- [ ] `hostname` [RFC 1034, section 3.1](http://tools.ietf.org/html/rfc1034#section-3.1)
- [ ] `idn-hostname` [RFC5890, section 2.3.2.3](https://tools.ietf.org/html/rfc5890#section-2.3.2.3)
- [ ] `ipv4` [RFC 2673, section 3.2](http://tools.ietf.org/html/rfc2673#section-3.2)
- [ ] `ipv6` [RFC 2373, section 2.2](http://tools.ietf.org/html/rfc2373#section-2.2)
- [ ] `uri` [RFC3986](http://tools.ietf.org/html/rfc3986)
- [ ] `uri-reference` [RFC3986, section 4.1](http://tools.ietf.org/html/rfc3986#section-4.1)
- [ ] `iri` [RFC3987](https://tools.ietf.org/html/rfc3987)
- [ ] `iri-reference` [RFC3987](https://tools.ietf.org/html/rfc3987)
- [ ] `uri-template` [RFC6570](https://tools.ietf.org/html/rfc6570)
- [ ] `json-pointer` [RFC6901](https://tools.ietf.org/html/rfc6901)
- [ ] `"relative-json-pointer` https://tools.ietf.org/html/draft-handrews-relative-json-pointer-01
- [ ] `regex` [ECMA 262](http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf)
